<title>Yeet</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
<link rel="stylesheet" href="https://pluralkit.tk/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#EEE7D7">

<link rel="icon" href="/pkicon.png" />
<link rel="shortcut icon" href="/pkicon.png">
<link type="application/json+oembed" href="https://pluralkit.tk/oembed.json">
<meta name="description" content="Web interface for the PluralKit Discord bot">
<meta name="author" content="The Grey Skies">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@greysdawn">
<meta name="twitter:image" content="https://pluralkit.tk/pkicon.png">
<meta name="twitter:description" content="Web interface for the PluralKit Discord bot">
<meta name="twitter:title" content="PluralKit">
<meta property="og:type" content="website">
<meta property="og:title" content="PluralKit">
<meta property="og:description" content="Web interface for the PluralKit Discord bot">
<meta property="og:image" content="https://pluralkit.tk/pkicon.png">
<meta property="og:site_name" content="PluralKit">
<style>

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Sniglet", cursive;
	font-size: 2.5vmin;
	line-height: 2.5vmin;
}

.container {
	display: inline;
	width: 100%;
	height: calc(100% - 75px);
	float: left;
	margin: 0;
	padding: 0;

}

::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

header {
	width: 100%;
	background-color: #EEE7D7;
	color: black;
	height: 50px;
	margin: 0;
	padding: 0;
	border-radius: 5px;
	font-family: "Sniglet", cursive;
	font-size: 24px;
	vertical-align: middle;
	line-height: 50px;
}

.header {
	height: 46px;
	width: 46px;
	position: relative;
	text-align: center;
	margin: 0;
	padding: 0;
	float: left;
	font-size: 30px;
}

header img {
	float: left;
	border-width: 2px;
	border-color: white;
	border-style: solid;
	border-radius: 5px;
	margin: 0;
	padding: 0;
}

.imgcenter {
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(0,0,0,.5);
	height: 50px;
	width: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	opacity: 0;
	transition: .5s;
}

.header:hover .imgcenter {
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(0,0,0,.5);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .5s;
	opacity: 1.0;
	color: white;
	background-color: rgba(0,0,0,.5);
	cursor: pointer;
}

.imgcenter.active {
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(0,0,0,.5);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .5s;
	opacity: 1.0;
	color: white;
	background-color: rgba(100,50,50,.5);
	cursor: pointer;
}

header span {
	float: left;
	margin-left: 10px;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
}

header span:hover {
	color: white;
	cursor: pointer;
}

header button {
	float: right;
	display: inline-block;
	height: 40px;
	margin: 5px 5px;
	font-size: 2.5vmin;
	width: auto;
}

button {
	background-color: #F1CF86;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 2.5vmin;
	margin: 5px 5px;
	cursor: pointer;
	height: auto;
	width: auto;
}

.member {
	height: 30px;
	width: 80%;
	display: table;
	text-align: center;
	margin: 10px auto;
	border-radius: 5px;
	transition: .5s;
	cursor: pointer;
}

.name {
	display: table-cell;
	vertical-align: middle;
	transition: .5s;
}

.footer {
	position: relative;
	bottom: 0;
	left: 0;
	background-color: #EEE7D7;
	color: black;
	height: 25px;
	width: 100%;
	display: inline-block;
	line-height: 25px;
}

a {
	text-decoration: none;
	color: inherit;
}

.avatar {
	float: left;
	object-fit: cover;
	width: 128px;
	height: 128px;
	margin: 10px;
	border-radius: 50%;
}

.systeminfo {
	float: left;
	border-radius: 5px;
	min-width: 40%;
	max-width: 60%;
	height: 75%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

.memberinfo {
	float: left;
	border-radius: 5px;
	min-width: 40%;
	max-width: 60%;
	height: 75%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

.membcontainer {
	float: left;
	width: 75%;
	position: relative;
	animation: fadeIn 1s ease-out;
	animation-fill-mode: forwards;
}

.desc textarea {
	vertical-align: top;
}

form.button {
	width: auto;
}

div p {
	margin: 5px;
}

input.inline {
	width: 50px;
}

.scroll {
	height: auto;
	max-height: 7.5vmin;
	overflow-y: auto;
}

@media screen and (max-width:820px) {

	.avatar {
		float: none;
		display: block;
		width: 128px;
		height: 128px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 50%;
	}

	.syscontainer {
		float: left;
		width: 100%;
		text-align: center;
	}
	.systeminfo {
		float: none;
		border-radius: 5px;
		width: 100%;
		min-height: 50%;
		max-height: 75%;
		margin: 10px auto;
		border-style: solid;
		border-color: black;
		border-width: 2px;
	}

	.membcontainer {
		float: left;
		width: 75%;
		text-align: center;
	}
	.memberinfo {
		float: none;
		border-radius: 5px;
		width: 100%;
		height: 75%;
		margin: 10px auto;
		border-style: solid;
		border-color: black;
		border-width: 2px;
	}

	form {
		margin: 0;
		padding: 0;
	}

	form.button {
		width: 10%;
		margin: 0;
		display: inline;
		float: none;
	}

	button {
		margin: 5px 3px;
	}

	input {
		margin: 2px;
		padding: 0;
		width: calc(100% - 4px);
	}

	input.inline {
		width: 25px;
	}

	p {
		margin: 0;
		padding: 0;
	}

	::-webkit-scrollbar {
	  width: 5px;
	}

}


@media (max-width: 1075px) {
	.memberinfo {
		width: 60%;
		height: 75%;
	}

	.systeminfo {
		width: 60%;
		height: 75%;
	}
}

@keyframes fadeIn {
  0% {opacity: 0; top: 50px;}
  100% {opacity: 1; top: 0;}
}
</style>