<head>
<style>
body {
background-color: #aaaaaa;
text-align: center;
align-content: center;
}

p, h1, h2 {
position: relative;
text-align: center;
top: 25%;
}

p {
	font-size: 20px;
}

.container {
	position: relative;
	margin: auto;
	top: 12%;
	width: 75%;
	min-height: 75%;
	background-color: #777;
	border-radius:10px;
	padding: 10px 5px;
}

.content {
	background-color: #555555;
	color: white;
	border-radius: 10px;
	position: relative;
	width: 90%;
	height: 50%;
	margin: auto;
}

.home {
	font-weight: bold;
	color: white;
	position: relative;
	margin: auto;
	top: 30px;
	text-decoration: none;
}

.home:hover {
	color: #dcd;
}
</style>
<title>404 - Not Found</title>
</head>
<div class="container">
	<div class="content">
		<h1>404: Not Found</h1>
		<p>Page <b><%= url %></b> was not found.</p>
	</div>
	<h1><a class="home" href="<%= home %>">Go back home</a></h1>
</div>