<!doctype html>
<html lang="en-US">
<head>
<% include ../partials/head %>
<style>
h2 {
	padding: 3px;
	margin: 0;
}
</style>
</head>

<body>
	<div class="container">
		<header>
			<%- include("../partials/header",{token: token}) %>
		</header>
		<br/>
		<div class="container">
		<%- include("../partials/system",{member: member, fronters: fronters, members: members})%>
		</div>
	</div>
</body>
</html>