<!doctype html>
<html lang="en-US">
<head>
<% include ../partials/head %>
</head>

<body>
	<header>
		<%- include('../partials/header',{token: token}); %>
	</header>
	<div class="container">
		<p>WIP - Use the Login button to enter your token and get started</p>
		<br/>
	</div>
	<% include ../partials/footer %>
</body>
</html>