<!doctype html>
<html lang="en-US">
<head>
<% include ../partials/head %>
</head>

<body>
	<div class="container">
		<header>
			<%- include('../partials/header',{token: token}); %>
		</header>
		<p>WIP - Use the Login button to enter your token and get started</p>
	</div>
	<% include ../partials/footer %>
</body>
</html>