<!doctype html>
<html lang="en-US">
<head>
<% include ../partials/head %>
<script>
	console.log("test");
	window.setTimeout(function(){
		window.open("/","_self")
	},2000)
</script>
</head>
<body>
<p>Done! Redirecting in just a sec...</p>
</form>
</body>