<!doctype html>
<html lang="en-US">
<head>
<% include ../partials/head %>
<script>
	console.log("test");
	window.setTimeout(function(){
		$("#submit").closest("form")[0].submit();
	},2000)
</script>
</head>
<body>
<p>Done! Redirecting in just a sec...</p>
<form action="/members" method="post">
<input type="hidden" name="system" value="<%=system%>">
<input type="hidden" name="member" value="<%=member%>">
<div id="submit"></div>
</form>
</body>