@import url('https://fonts.googleapis.com/css?family=Sniglet');

body {
  font-family: 'Sniglet', cursive;
  font-size: calc(5px + 2vmin);
  height: 100vh;
  color: white;
  background-color: #20202B;

}

.App {
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.App-spoiler {
  background-color: black;
  color: black;
}

.App-spoiler:hover {
  background-color: rgba(0,0,0,.5);
  color: white;
}

.App-avatar {
  float: left;
  object-fit: cover;
  height: 20vmin;
  width: 20vmin;
  margin: 10px;
  border-radius: 50%;
}

.App-memberAvatar {
  border-radius: 50%;
  min-height: 128px;
  width: 128px;
  object-fit: cover;
  margin: 10px;
}

.App-logo {
  border-radius: 10px;
  height: 7vmin;
  width: 7vmin;
  border-width: .5vh;
  border-color: white;
  border-style: solid;
  pointer-events: none;
}

.App-header {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 5px black;
  background-color: #2a2d44;
  height: 8vmin;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: white;
  text-decoration: none;
}

.App-link:hover {
  text-decoration: underline;
}

.App-systeminfo {
  float: left;
  border-radius: 5px;
  background-color: #383b53;
  color: white;
  width: 90%;
}

.App-syscontainer {
  margin: 5px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.App-memberList {
  background-color: rgba(0,0,0,0);
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.App-memberList>* {
  flex: 1 1 250px;
  max-width: 85%;
}

.App-memberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #383b53;
  border-radius: 5px;
  height: 500px;
  width: 250px;
  line-height: unset;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

input {
  width: 90%;
}

textarea {
  width: 90%;
  height: 100%;
}

input, textarea {
    width: 90%;
    background-color: #20202b;
    color: white;
    resize: none;
    margin: 2px;
    font-family: Sniglet;
    font-size: calc(12px + 1vmin);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #414361
}

.App-memberCard h1 {
  color: #ccc;
}

.App-tagline {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #52BAD5;
  font-style: italic;
  font-size: calc(14px + 1vmin);
}

.App-description {
  color: #aaa;
  text-align: left;
  font-size: calc(14px + 1vmin);
  line-height: calc(14px + 1vmin);
  height: 100%;
  width: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  word-break: break-word;
}

.App-description::-webkit-scrollbar, .App-memberCard textarea::-webkit-scrollbar {
    width: 5px;
}

.App-edit {
  animation: edit .5s 1;
}

.App-unedit {
  animation: edit .5s 1;
}

.App-buttons {
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
}

.App-button {
  margin: 1vmin;
  font-size: 2.5vmin;
  background-color: #389;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  font-size: 2.5vmin;
  font-family: Sniglet;
  margin: 5px 5px;
  cursor: pointer;
  height: 5vmin;
  line-height: 5vmin;
  width: auto;
}

.App-footer {
  height: 5vmin;
  width: 100%;
  text-align: left;
  background-color: #2a2d44;
  color: white;
  line-height: 5vmin;
  font-size: calc(8px + 2vmin);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #414361;
    border-radius: 20px;
}

a {
  text-decoration: underline;
  color: inherit;
}

div p {
  margin: 5px;
}

.App-login {
  height: 100%;
  padding: 20px;
}

blockquote {
  margin: 5px 10px;
  font-family: 'Roboto Mono', monospace;
  background-color: rgba(0,0,0,.25);
  border-radius: 5px;
}

.App-load{
  height: 87vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.App-ball {
  display: inline-block;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: rgba(255,255,255,.1);
  animation: pulse 2s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(255,255,255,.5);
  }
  
  100% {
    box-shadow: 0 0 5px 40px rgba(0,0,0,0);
  }
}

@keyframes edit {
  10% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1.1, 1.1);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1,1);
  }
}