@import url('https://fonts.googleapis.com/css?family=Sniglet');

body {
  font-family: 'Sniglet', cursive;
}

.App {
  text-align: left;
}

.App-heading1 {
  font-size: 5vmin;
}

.App-avatar {
  float: left;
  object-fit: cover;
  width: 128px;
  height: 128px;
  margin: 10px;
  border-radius: 50%;
}

.App-logo {
  border-radius: 10px;
  height: 9vmin;
  width: 9vmin;
  border-width: .5vh;
  border-color: white;
  border-style: solid;
  pointer-events: none;
}

.App-header {
  border-radius: 10px;
  background-color: #EEE7D7;
  height: 10vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(8px + 2vmin);
  color: black;
}

.App-header p {
  margin: auto 5px;
}

.App-link {
  color: white;
  text-decoration: none;
}

.App-systeminfo {
  float: left;
  border-radius: 5px;
  min-width: 40%;
  max-width: 60%;
  height: 75%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.App-syscontainer {
  margin: 10px;
}

.App-hidden {
  display: none;
}

.App-buttons {
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
}

.App-button {
  height: 8vmin;
  margin: 1vmin;
  font-size: 2.5vmin;
  width: auto;
}

button {
  background-color: #F1CF86;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 1.25vmin 10px;
  text-align: center;
  text-decoration: none;
  font-size: 2.5vmin;
  margin: 5px 5px;
  cursor: pointer;
  height: 5vmin;
  width: auto;
}

div p {
  margin: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
